name: My first workflow
on:
 push: 
    branches:
      - 'v[0-9].[0-9]'
      - '!v[0-9].[0-9]-beta'
      - '!v[0-9].[0-9].[0-9]'
      - '!feature-*'
jobs:
  my_first_cicd:
    if: ${{ !contains(github.event.head_commit.message,'#NORUN') }}
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write
      id-token: write 

    steps:
    - name: get date in Github
      id: get_date_in_Github
      run: echo "date in github $(date)"
    
    - name: Checkout code
      uses: actions/checkout@v2
    - name: Build an image from Dockerfile
      run: |
        docker build -t docker.io/wu_xd/fortunedocker:${{ github.sha }} .

    - name: Run Trivy vulnerability scanner
      id: scanner
      uses: aquasecurity/trivy-action@master
      with:
        image-ref: 'docker.io/wu_xd/fortunedocker:${{ github.sha }}'
        format: 'table'
        exit-code: '1'
        ignore-unfixed: true
        vuln-type: 'os,library'
        severity: 'CRITICAL'
        output: 'trivy-results.txt'
      continue-on-error: true

    - name: Slack_Notification_Fail 
      if: steps.scanner.outcome !='success'
      uses: rtCamp/action-slack-notify@v2
      env:
         SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK_URL }}
         SLACK_COLOR: '#FF0000'
         SLACK_TITLE: Scan failed - Wu Xiaodong
         SLACK_MESSAGE: Failed trivy scan, see uploaded report
  
    - name: upload_report
      if: steps.scanner.outcome !='success'
      uses: MeilCli/slack-upload-file@v3
      with:
          slack_token: ${{ secrets.SLACK_TOKEN }}
          channel_id: ${{ secrets.SLACK_CHANNEL_ID }}
          file_path: 'trivy-results.txt'
          initial_comment: 'post by WXD'
    
    - 
      name: Set up QEMU
      if: steps.scanner.outcome =='success'
      uses: docker/setup-qemu-action@v3
    -
      name: Set up Docker Buildx
      if: steps.scanner.outcome =='success'
      uses: docker/setup-buildx-action@v3
    -
      name: Login to Docker Hub
      if: steps.scanner.outcome =='success'
      uses: docker/login-action@v3
      with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
    -
      name: Build and push
      id: build_and_push
      if: steps.scanner.outcome =='success'
      uses: docker/build-push-action@v5
      with:
          push: true
          tags: tulearn/go-fortune:latest

    
    - name: Install Cosign
      uses: sigstore/cosign-installer@v3.1.1

    - name: Sign the images with GitHub OIDC Token
      env:
        DIGEST: ${{ steps.build_and_push.outputs.digest }}
        TAGS: tulearn/go-fortune:latest
      run: cosign sign --yes "${TAGS}@${DIGEST}"

    - name: Slack_Notification_SUCCESS
      if: steps.scanner.outcome =='success'
      uses: rtCamp/action-slack-notify@v2
      env:
          SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK_URL }}
          SLACK_COLOR: good
          SLACK_TITLE: Successful - WU Xiaodong
          SLACK_MESSAGE: >
            "*Name:* Wu Xiaodong 
            *Metriculation:* A0287261Y 
            *Email:* e1285207@u.nus.edu  
            *Git:* https://github.com/${{github.repository}} 
            *Image:* https://hub.docker.com/repository/docker/tulearn/go-fortune/general "
          SLACK_MSG_AUTHOR: author

