name: My first workflow
on:
 push: 
    branches:
      - 'v[0-9].[0-9]'
      - '!v[0-9].[0-9]-beta'
      - '!v[0-9].[0-9].[0-9]'
      - '!feature-*'
jobs:
  my_first_cicd:
    runs-on: ubuntu-latest

    steps:
    - name: get date in Github
      id: get_date_in_Github
      run: echo "date in github $(date)"
    
    - name: Checkout code
      uses: actions/checkout@v2
    - name: Build an image from Dockerfile
      run: |
        docker build -t docker.io/my-organization/my-app:${{ github.sha }} .

    - name: Run Trivy vulnerability scanner
      id: scanner
      uses: aquasecurity/trivy-action@master
      with:
        image-ref: 'docker.io/my-organization/my-app:${{ github.sha }}'
        format: 'table'
        exit-code: '1'
        ignore-unfixed: true
        vuln-type: 'os,library'
        severity: 'CRITICAL'
        output: 'trivy-results.txt'
      continue-on-error: true

    - name: Slack_Notification_Fail 
      if: steps.scanner.outcome !='success'
      uses: rtCamp/action-slack-notify@v2
      env:
         SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK_URL }}
         SLACK_COLOR: '#FF0000'
         SLACK_TITLE: Scan failed
         SLACK_MESSAGE: Failed trivy scan, see uploaded report
  
    - name: upload_report
      if: steps.scanner.outcome !='success'
      uses: MeilCli/slack-upload-file@v3
      with:
          slack_token: ${{ secrets.SLACK_TOKEN }}
          channel_id: ${{ secrets.SLACK_CHANNEL_ID }}
          file_path: 'trivy-results.txt'
          initial_comment: 'post by tu'
    
    - 
      name: Set up QEMU
      if: steps.scanner.outcome =='success'
      uses: docker/setup-qemu-action@v3
    -
      name: Set up Docker Buildx
      if: steps.scanner.outcome =='success'
      uses: docker/setup-buildx-action@v3
    -
      name: Login to Docker Hub
      if: steps.scanner.outcome =='success'
      uses: docker/login-action@v3
      with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
    -
      name: Build and push
      if: steps.scanner.outcome =='success'
      uses: docker/build-push-action@v5
      with:
          context: .
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/go-fortunne:${{ github.sha }}